{% extends 'email.html.twig' %}

{% block title %}
    <h3>StudyOn: Отчет об оплатах за месяц</h3>
{% endblock %}

{% block body %}
    <p>Отчет об оплаченных курсах за период {{ period_start | date('d.m.Y') }} - {{ period_end | date('d.m.Y') }}</p>

    <table>
        <thead>
            <tr>
                <th>Название курса</th>
                <th>Тип курса</th>
                <th>Число аренд/покупок</th>
                <th>Общая сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.type }}</td>
                    <td>{{ course.buy_count }}</td>
                    <td>{{ course.money_sum }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h6>Итого: {{ total_sum }}</h6>

{% endblock %}
